---
import Link from './ui/link.astro';
---

<div
  class='mx-auto mt-20 flex max-w-5xl flex-col items-center rounded-lg bg-black p-8 text-center md:px-20 md:py-20'
>
  <h2 class='text-4xl tracking-tight text-white md:text-6xl'>
    Your Brand, Our Passion.
  </h2>
  <p class='mt-4 text-lg text-slate-400 md:text-xl'>
    Crafting Personalized Excellence for Your Online Journey
  </p>
  <div class='mt-5 flex'>
    <Link href='/contact' style='inverted'>Get Started</Link>
  </div>
</div>
