<footer class='not-prose dark relative mt-12'>
  <div
    class='mx-auto flex w-full max-w-lg flex-col items-stretch self-stretch bg-neutral-50'
  >
    <div class='flex w-full flex-col items-center justify-end bg-white px-20'>
      <div
        class='max-w-[259px] self-stretch text-2xl font-bold leading-8 tracking-normal text-neutral-950'
      >
        En contacto
      </div>
      <div
        class='mt-6 text-sm font-medium leading-5 tracking-wide text-indigo-900'
      >
        Nuestra sede principal esta en Bogotá, pero te ayudamos virtualmente
        donde lo necesites.
      </div>
      <div class='mt-6 flex items-stretch gap-5 self-stretch pr-20'>
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/37e6fe40b60d8ccb9b85e4e457edeb11b8cf90462400753f9ee39784e5ce4812?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='aspect-square w-6 max-w-full shrink-0 overflow-hidden object-contain object-center'
        />
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/7c99dc7c83074e0cb5ed89f08af516aee47834c830261051e99f6b4b4c8a58f5?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='aspect-square w-6 max-w-full shrink-0 overflow-hidden object-contain object-center'
        />
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/594c780b7c54ec0ef6074755c38a61797dcae2b8070bd6c261d5c4e260ff2ff7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='my-auto aspect-[1.2] w-6 max-w-full shrink-0 self-center overflow-hidden object-contain object-center'
        />
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/8cd8571f90843664f3cb28eaf65dae2bafbf29f46d9783473edea82668fd04ba?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='my-auto aspect-[1.33] w-6 max-w-full shrink-0 self-center overflow-hidden object-contain object-center'
        />
      </div>
      <div class='w-full'>
        <p
          class='mt-8 text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Psicotools
        </p>
        <p
          class='mt-5 self-start whitespace-nowrap text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Equipo
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Filosofia
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Trabaja con nosotros
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Blog
        </p>
      </div>
      <div class='w-full'>
        <p
          class='mt-8 text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Servicios
        </p>
        <p
          class='mt-5 self-start whitespace-nowrap text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Acompañamiento psicológico
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Musicoterapia
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Evaluación Psicológica
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Neuropsicología clínica
        </p>
        <p
          class='mt-2.5 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Acompañ. psicoeducativo
        </p>
      </div>

      <div class='w-full'>
        <p
          class='mt-8 max-w-[259px] self-stretch text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Recursos
        </p>
        <p
          class='mt-5 max-w-[259px] self-stretch text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Valoración
        </p>
        <p
          class='mt-2.5 max-w-[259px] self-stretch text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Agendamiento
        </p>
        <p
          class='mb-3.5 mt-2.5 max-w-[259px] self-stretch text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Contáctenos
        </p>
      </div>
    </div>
    <div
      class='w-full items-center justify-center bg-stone-50 px-16 py-10 text-center text-sm font-semibold leading-6 tracking-wide text-indigo-900'
    >
      Psicotools - All Right Reserved
    </div>
  </div>
</footer>
