---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

import heroImage from 'assets/Character_3_Plant.png';
import Link from '@components/ui/link.astro';
import Features from '@components/Features.astro';

import Team from '@components/Team.astro';
import Testimonials from '@components/Testimonials.astro';
import Contact from '@components/Contact.astro';
---

<main class='absolute left-0 grid w-full place-items-center lg:grid-cols-2'>
  <div
    class='bg-gradient-to-br from-cyan-300 from-0% via-blue-700 via-70% to-red-400 px-8 pt-16'
  >
    <h1 class='text-center text-5xl font-bold text-white'>
      Cuida de tu mente, es la clave de la felicidad.
    </h1>
    <p class='mt-8 max-w-xl text-center text-lg text-white'>
      Queremos ayudar a entender que ir al psic칩logo no es necesario porque
      est치s mal, es la mejor forma de ayudarte porque est치s bien.
    </p>
    <div class='mt-8 flex max-w-sm flex-col items-center gap-3 sm:flex-row'>
      <Link
        href='contact'
        target='_blank'
        class='rounded-full border border-blue-600 bg-blue-600 px-8 font-semibold'
        rel='noopener'
      >
        Agenda una valoraci칩n
      </Link>
      <Link
        href='contact'
        target='_blank'
        class='rounded-full border border-white bg-transparent px-8 font-semibold'
        rel='noopener'
      >
        Conoce nuestro equipo
      </Link>
    </div>
    <div
      class='mx-auto mt-8 flex w-52 flex-col items-center justify-center gap-y-8'
    >
      <div
        class='flex w-full items-center justify-around gap-x-4 rounded-md bg-white px-5 py-5'
      >
        <Icon class='h-10 w-10 text-blue-600' name='ic:outline-people' />
        <div class='flex flex-col items-start justify-start'>
          <p class='text-2xl font-bold'>28 +</p>
          <p class='text-sm capitalize text-blue-800'>EQUIPO DE EXPERTOS</p>
        </div>
      </div>
      <div
        class='flex w-full items-center justify-around gap-x-4 rounded-md bg-white px-5 py-5'
      >
        <Icon class='h-10 w-10 text-blue-600' name='ph:star-fill' />
        <div class='flex flex-col items-start justify-start'>
          <p class='text-2xl font-bold'>2.000 +</p>
          <p class='text-sm capitalize text-blue-800'>CONSULTANTES</p>
        </div>
      </div>
      <div
        class='flex w-full items-center justify-around gap-x-4 rounded-md bg-white px-5 py-5'
      >
        <Icon class='h-10 w-10 text-blue-600' name='ic:outline-cookie' />
        <div class='flex flex-col items-start justify-start'>
          <p class='text-2xl font-bold'>360 +</p>
          <p class='text-sm capitalize text-blue-800'>ACTIVIDADES GRUPALES</p>
        </div>
      </div>
      <div
        class='flex w-full items-center justify-around gap-x-4 rounded-md bg-white px-5 py-5'
      >
        <Icon class='h-10 w-10 text-blue-600' name='mdi:clock-plus-outline' />
        <div class='flex flex-col items-start justify-start'>
          <p class='text-2xl font-bold'>10.000 +</p>
          <p class='text-sm capitalize text-blue-800'>HORAS DE APOYO</p>
        </div>
      </div>
    </div>
    <div class='mt-8 h-56 overflow-hidden'>
      <Image src={heroImage} alt='hero' class='scale-150 object-cover pt-4' />
    </div>
  </div>
  <Features />
  <Testimonials />
  <Team />
  <Contact />
</main>
