---
import { Icon } from 'astro-icon';
---

<div
  class='mx-auto flex w-full max-w-[480px] flex-col items-center self-stretch bg-slate-100 px-7 py-12 md:max-w-full md:px-64 md:pb-20'
>
  <div class='mt-6 flex flex-col items-stretch self-stretch px-12'>
    <div
      class='text-center text-4xl font-extrabold leading-10 tracking-wide text-neutral-950'
    >
      Equipo de <br />
       Expertos
    </div>
    <div
      class='mt-2.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Somos un equipo de profesionales dispuestos a dar lo mejor para ayudar a
      las personas
      <br />
       que buscan un cambio positivo en sus vidas.
    </div>
  </div>
  <div class='flex flex-col items-center justify-center md:flex-row md:gap-x-6'>
    <div
      class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
    >
      <Icon
        class='h-15 w-15 ml-2 rounded-full bg-slate-300 p-3 text-white'
        name='mdi:users'
      />
      <div
        class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
      >
        Fundadora
      </div>
      <div
        class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
      >
        Lina Murcia
      </div>
    </div>
    <div
      class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
    >
      <Icon
        class='h-15 w-15 ml-2 rounded-full bg-slate-300 p-3 text-white'
        name='mdi:users'
      />
      <div
        class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
      >
        Fundadora
      </div>
      <div
        class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
      >
        Ana Torres
      </div>
    </div>
    <div
      class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
    >
      <Icon
        class='h-15 w-15 ml-2 rounded-full bg-slate-300 p-3 text-white'
        name='mdi:users'
      />
      <div
        class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
      >
        Psic贸logo
      </div>
      <div
        class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
      >
        Psic贸logo 1
      </div>
    </div>
    <div
      class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
    >
      <Icon
        class='h-15 w-15 ml-2 rounded-full bg-slate-300 p-3 text-white'
        name='mdi:users'
      />
      <div
        class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
      >
        Psic贸logo
      </div>
      <div
        class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
      >
        Psic贸logo 2
      </div>
    </div>
  </div>
</div>
