<div
  class='mx-auto flex w-full max-w-[480px] flex-col items-center self-stretch bg-slate-100 px-7 py-12'
>
  <div class='mt-6 flex flex-col items-stretch self-stretch px-12'>
    <div
      class='text-center text-4xl font-extrabold leading-10 tracking-wide text-neutral-950'
    >
      Equipo de <br />
       Expertos
    </div>
    <div
      class='mt-2.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Somos un equipo de profesionales dispuestos a dar lo mejor para ayudar a
      las personas
      <br />
       que buscan un cambio positivo en sus vidas.
    </div>
  </div>
  <div
    class='mt-11 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
  >
    <img
      loading='lazy'
      src='https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7f42623621896ca1d54742818f95698cf4f03b780049caffba83d338945d1974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
      class='aspect-[1.11] w-[142px] max-w-full items-center justify-center overflow-hidden object-contain object-center'
    />
    <div
      class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
    >
      Fundadora
    </div>
    <div
      class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
    >
      Lina Murcia
    </div>
    <div
      class='mt-1.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Frase que define su
      <br />
       forma de trabajar
    </div>
  </div>
  <div
    class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
  >
    <div
      class='relative flex aspect-[1.125] w-36 max-w-full flex-col items-center justify-center overflow-hidden pr-4'
    >
      <img
        loading='lazy'
        src='https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/dbbf39ced2a71047adda144a8735b5441d3f85bc1eb6e0a214b833569d77c974?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
        class='aspect-square w-full overflow-hidden rounded-[50%] object-contain object-center'
      />
    </div>
    <div
      class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
    >
      Fundadora
    </div>
    <div
      class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
    >
      Ana M. Torres
    </div>
    <div
      class='mt-1.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Frase que define su
      <br />
       forma de trabajar
    </div>
  </div>
  <div
    class='mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
  >
    <img
      loading='lazy'
      src='https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/766302ef0270726073322bc1c4b821050f3922026c96e5d1e66b5b95c21cd0ac?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
      class='aspect-[1.11] w-[142px] max-w-full items-center justify-center overflow-hidden object-contain object-center'
    />
    <div
      class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
    >
      Psicólogo
    </div>
    <div
      class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
    >
      German Camelo
    </div>
    <div
      class='mt-1.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Frase que define su
      <br />
       forma de trabajar
    </div>
  </div>
  <div
    class='mb-2.5 mt-8 flex w-full max-w-[332px] flex-col items-center self-center bg-white px-20 py-8'
  >
    <img
      loading='lazy'
      src='https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/91aabc8f550e045e47cd2b3692db3de778b7f4ddca56c53b416595560f4b7db7?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
      class='aspect-[1.11] w-[142px] max-w-full items-center justify-center overflow-hidden object-contain object-center'
    />
    <div
      class='mt-1.5 whitespace-nowrap text-center text-sm font-semibold leading-6 tracking-wide text-blue-700'
    >
      Psicólogo
    </div>
    <div
      class='mt-1.5 whitespace-nowrap text-center text-base font-bold leading-6 tracking-normal text-neutral-950'
    >
      Andrea Gomez
    </div>
    <div
      class='mt-1.5 text-center text-sm font-medium leading-5 tracking-wide text-indigo-900'
    >
      Frase que define su
      <br />
       forma de trabajar
    </div>
  </div>
</div>
