<div
  class='md:pt-10px-11 relative mx-auto flex w-full max-w-md flex-col items-stretch justify-center self-stretch overflow-hidden bg-gradient-to-br from-cyan-400 from-0% via-blue-700 via-70% to-red-400 px-4 py-12'
>
  <div
    class='relative mt-6 w-[301px] max-w-[301px] self-center text-center text-4xl font-bold leading-10 tracking-wide text-white'
  >
    ¡No son pacientes, somos equipo!
  </div>
  <div
    class='relative mt-2.5 max-w-[301px] self-center text-center text-sm font-medium leading-5 tracking-wide text-white'
  >
    Estos son algunos testimonios de consultantes reales que encontraron en
    Psicotools una
    <br />
     opción para mejorar, para cambiar sus vidas.
  </div>
  <div class='relative mb-7 mt-16 flex flex-col items-stretch gap-y-8 px-10'>
    <div
      class='flex w-full items-start gap-4 rounded-md bg-white pb-10 pl-0 pr-10 pt-5'
    >
      <img
        loading='lazy'
        src='https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c5c6b297f05247cbc2ec6ed7c154bd1dd397cd90ce51455c617d913d71fb51b4?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
        class='-ml-7 aspect-[0.88] w-[84px] max-w-full shrink-0 items-center justify-center overflow-hidden object-contain object-center'
      />
      <div class='mt-2 flex flex-col items-start'>
        <div
          class='text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Mónica Sanchez Diaz
        </div>
        <div
          class='mt-2 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Emprendedora
        </div>
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/8aeb00089987810260b5482f92405c8301f341827b5cf76872a2c10d98549ff0?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='mt-3 aspect-[5] w-[110px] max-w-full items-start justify-center overflow-hidden object-contain object-center'
        />
        <div
          class='mt-4 text-sm font-medium leading-5 tracking-wide text-indigo-900'
        >
          "Me hizo cambiar el chip y ver las cosas de manera más positiva. Te
          hace sentir super a gusto desde la primera terapia, y hace que puedas
          expresarle todo sin ninguna vergüenza."
        </div>
      </div>
    </div>
    <div
      class='flex w-full items-start gap-4 rounded-md bg-white pb-10 pl-0 pr-10 pt-5'
    >
      <img
        loading='lazy'
        src='https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/96548773bc0b8202deca96a09fa2115a0cd65d4ccd8a87a3cf7a6ad6a131afc6?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
        class='-ml-7 aspect-[0.88] w-[84px] max-w-full shrink-0 items-center justify-center overflow-hidden object-contain object-center'
      />
      <div class='mt-2 flex flex-col items-start'>
        <div
          class='text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Gerardo Bautista
        </div>
        <div
          class='mt-2 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Padre de familia
        </div>
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/8aeb00089987810260b5482f92405c8301f341827b5cf76872a2c10d98549ff0?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='mt-3 aspect-[5] w-[110px] max-w-full items-start justify-center overflow-hidden object-contain object-center'
        />
        <div
          class='mt-4 text-sm font-medium leading-5 tracking-wide text-indigo-900'
        >
          "Al principio fui un poco escéptico sobre los resultados que este tipo
          de sesiones podían aportar, ya que nos considerarnos una familia
          “normal”, pero con su orientación, descubrimos maneras de entender a
          nuestra hija. Además, nos ayudó a conocernos mejor y a expresar de una
          forma más abierta nuestros sentimientos."
        </div>
      </div>
    </div>
    <div
      class='flex w-full items-start gap-4 rounded-md bg-white pb-10 pl-0 pr-10 pt-5'
    >
      <img
        loading='lazy'
        src='https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/59973b55be5dcfe60b73fb7f8650ff53efdbfc5b53d369d4df51258852806b86?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
        class='-ml-7 aspect-[0.88] w-[84px] max-w-full shrink-0 items-center justify-center overflow-hidden object-contain object-center'
      />
      <div class='mt-2 flex flex-col items-start'>
        <div
          class='text-2xl font-bold leading-8 tracking-normal text-neutral-950'
        >
          Andrea Perez
        </div>
        <div
          class='mt-2 text-sm font-semibold leading-6 tracking-wide text-indigo-900'
        >
          Estudiante
        </div>
        <img
          loading='lazy'
          src='https://cdn.builder.io/api/v1/image/assets/TEMP/8aeb00089987810260b5482f92405c8301f341827b5cf76872a2c10d98549ff0?apiKey=430af6713e9a438c8d4ff35a4a0174dc&'
          class='mt-3 aspect-[5] w-[110px] max-w-full items-start justify-center overflow-hidden object-contain object-center'
        />
        <div
          class='mt-4 text-sm font-medium leading-5 tracking-wide text-indigo-900'
        >
          "Intento vivir y salir adelante tras una pérdida que truncó mi vida.
          El hecho de que alguien no solamente te escuche y te acompañe, sino
          que te ayude a ver que tienes recursos personales en los que
          sujetarte, que igual que la culpa está ahí, también puedo perdonarme,
          respetar lo que siento y cuidarme."
        </div>
      </div>
    </div>
  </div>
</div>
